<!doctype html>
<title>{% block title %}Welcome{% endblock %} | ESSE3 API</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>ESSE3 API</h1>
  <div class="navigation">
  </div>
  <ul class="flashes">
      {% for action in actions %}
        <li><em>{{ action['title'] }}</em><br/><a href="http://{{ action['example'] }}" target="_new">{{ action['example'] }}</a>
      {% endfor %}
      </ul>
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    ESSE3 API &mdash; <a href="https://github.com/hpsc-smartlab/esse3api">HPSCSmartLab/GitHub</a>
  </div>
</div>
